@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .schedule-card {
        @apply shadow-xl rounded-2xl h-full w-full hover:shadow-2xl
    }

    .schedule-card-white {
        @apply schedule-card bg-white
    }

    .p-schedule {
        @apply p-1.5
    }

    a {
        @apply underline
    }
}

html {
    background: linear-gradient(#F15683, #7B0A2B);
    overflow-scrolling: touch;
}


body {
    --slot-size: inherit;
    --slot-width: inherit;
    --slot-height: inherit;
    --data-size: inherit;
    --schedule-body-width: inherit;
    --schedule-body-height: inherit;
    --schedule-width: inherit;
    --schedule-height: inherit;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
