@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .schedule-card {
    @apply h-full w-full rounded-2xl shadow-xl hover:shadow-2xl;
  }

  .schedule-card-white {
    @apply schedule-card bg-white;
  }

  .p-schedule {
    @apply p-1.5;
  }

  .schedule-controls-link {
    @apply hover:border-accent-500 hover:bg-accent-500 flex flex-1 flex-col items-center justify-center p-1 transition-all hover:scale-110 hover:text-white;
  }
}

html {
  overflow-scrolling: touch;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
